.index .recipes .button {
    font-size: 20px;
}

.index .recipes .button {
    background-color: rgb(69, 223, 22);
}

body {
    background-color: lightblue;
    text-align: center;
}
img {
    height: auto;
    width: 300px;
}